body{
    background-image: url("./bg.jpg");
    background: #e0e5ec;
}

.neu-components{
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    border: 0;
    background: #e0e5ec;
    border-radius: 10px;
    padding: 10px;

}

.button{
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    border: 0;
    background-color: #e0e5ec;
    border-radius: 10px;
    padding: 10px;

}

#gradtext{
    background: linear-gradient(to bottom right, #E73C7E, #EE7752);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.brand{
    padding: 50px;
}


.inner{
    height: 90%;
    width: 60%;
    position: absolute;
    top: 65%;
    left: 50%;
    padding:1%;
    transform: translate(-50%, -50%);
    border-radius: 10px 10px;
    background: #e0e5ec;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    
}


.formfields{
    margin-top: 50px;
}
